<h2><%= @user.name %></h2>
<h3><%= @user.email %></h3><br>
<h3>Rating:  <%= @user.rating or 'none' %></h3>
<h3>Current Tasks:  <%= @user.current_tasks %></h3>
<h3>Completed Tasks:  <%= @user.completed_tasks %></h3><br>
<h3>Skills</h3>
<p><%= @user.skills %></p><br>
<h3>Bio</h3>
<p><%= @user.bio %></p>

<form action= method="POST">
  <input type="text" name="owner-name">
  <input type="text" name="dog-name">
  <input type="text" name="favorite-toy">
  <input type="submit" value="submit">
</form>